@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

body{
    
     font-family: "Bricolage Grotesque", sans-serif;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5)),url('/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}