@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

body{
    
     font-family: "Bricolage Grotesque", sans-serif;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5)),url('/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-pagination-bullet{
    
    background-color:white!important;
    opacity: neutral-100 !important;
    width: 8px !important;
    height: 8px !important ;
    margin: 0 6px !important;

}
.swiper-pagination-bullet-active{
    background-color: neutral-700 !important;
    width: 12px !important;
    height: 12px !important ;
    margin: 0 6px !important;
}
.swiper-button-prev , .swiper-button-next{
    background-color: neutral-700 !important;
    width: 15px !important;
    height: 20px !important;
    color:black !important;
}